{% extends 'parent.html' %}
{% block title %}
Edit Student Details
{% endblock %}
{% block content %}
<h4 align="center" id="std"><i>Edit Student Details</i></h4>
<div class="container mt-3" id="bbox">
  <br>
  <form action="/update/{{d.id}}" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="mt-10 mb-2">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{d.name}}" required>
      </div>
      <div>
      <label class="form-label">Email Id</label>
      <input type="text" class="form-control" id="email" name="email" value="{{d.email}}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Age</label>
      <input type="text" class="form-control" id="age" name="age" value="{{d.age}}" required>
    </div>
    <div class="form-group ">
      <label class="form-label">Select Gender</label>
      <select id="gender" class="form-control" name="gender" required>
        <option selected>{{d.gender}}</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="others">Others</option>
      </select>
    </div>
    <br>
    <div class="mb-2">
      <button class="btn btn-outline-success form-control">Save</button>
    </div>
  </form>
</div>
{% endblock %}