/* *{
    background-color: rgba(8, 214, 228, 0.443);
    color: rgb(228, 227, 231);
} */

#navs{
    background-color : rgba(70, 187, 183, 0.6);
    }

    .bold{
        font-weight: bold;
        }